/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* COMMON */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.page {
  min-height: 100vh;
}

/* BACKGROUNDS */
.home-bg {
  background: linear-gradient(135deg, #e0f2fe, #ede9fe);
}

.courses-bg {
  background: linear-gradient(135deg, #ede9fe, #e0f2fe);
}

/* HEADER */
.header {
  color: white;
  padding: 16px 0;
}

.header.green {
  background: linear-gradient(90deg, #6366f1, #3b82f6);
}

.header.blue {
  background: linear-gradient(90deg, #3b82f6, #9333ea);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-circle {
  width: 45px;
  height: 45px;
  background: white;
  color: #6366f1;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  margin-left: 20px;
  cursor: pointer;
}

nav button:hover {
  text-decoration: underline;
}

/* HERO */
.hero {
  text-align: center;
  padding: 70px 20px;
}

.hero h2 {
  font-size: 44px;
  margin-bottom: 15px;
}

.hero span {
  color: #6366f1;
}

.hero p {
  font-size: 18px;
  color: #555;
}

/* FEATURES */
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 40px 0;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card h3 {
  margin-bottom: 10px;
  color: #111;
}

/* CTA */
.cta {
  background: linear-gradient(90deg, #6366f1, #9333ea);
  color: white;
  text-align: center;
  padding: 60px 20px;
  border-radius: 30px;
  margin: 60px auto;
  width: 90%;
}

.cta button {
  margin-top: 20px;
  padding: 14px 30px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background: white;
  color: #6366f1;
}

.cta button:hover {
  background: #f5f3ff;
}

/* COURSES */
.courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  padding-bottom: 60px;
}

.course-card {
  background: white;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

.course-card h3 {
  margin-bottom: 10px;
}

.course-card button {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  border: none;
  background: linear-gradient(90deg, #6366f1, #9333ea);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.course-card button:hover {
  opacity: 0.9;
}

/* FOOTER */
footer {
  background: #1e1b4b;
  color: #c7d2fe;
  text-align: center;
  padding: 25px;
}
